html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 375px;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url(images/bg-desktop.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #0c122c;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 920px;
    height: 201px;
    margin-top: 289px;
}

.leftBox {
  width: 350px;
  height: 201px;
  background: #1e2d69;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 100px 10px 10px;
  
}

.rightBox {
  width: 540px;
  height: 154px;
  background: #1e2d69;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  margin-top: 47px;

}
